.full-width{
  width: 100%;
}

.copyrights{
  color: #7ba3fa;
  margin: 0 auto;
  text-align: center;
}

/* botoom part of the footer */

.footer-bottom{
  padding: 20px 0 20px 0;
}

/*  top part of the footer */

.footer-top{
  padding: 20px 10px 20px 10px;
  text-align: center;
  position: relative;
  background: linear-gradient(to left,#76a6f8, #8b94fd );
}

.white-text{
  line-height: 100%;
}

.footer-text{
  text-align: left;
}

.footer-text{
  font-family: Arial;
}

.footer-image{
}

.footer-text-block{
  vertical-align: top;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}

.feedback-buttons{
  text-align: center;
  padding-top: 25px;
  display: table;
  width: 100%;
  text-align: center;
}

.feedback-icon{
  padding: 0 7px 0 7px;
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}
