/* Search Bar */

.search-bar{
  border-radius: 12px;
  background-color: white;
  margin: -160px 15px 50px 15px;
  box-shadow: 0 0 60px rgba(121,162,248,0.2);
  z-index: 9999999;
  max-height: 150px;
  padding: 30px 40px 10px 40px;
  text-align: center;
}

.search-calendar{
  margin: 10px;
  display: inline-block;
}

.search-bar-mob{
  border-radius: 12px;
  background-color: white;
  margin: 10px 15px 20px 10px;
  box-shadow: 0 0 60px rgba(121,162,248,0.2);
  padding: 30px 20px 10px 20px;
  text-align: center;
}
