/* Search Bar */

.search-bar{
  border-radius: 12px;
  background-color: white;
  margin: -130px 15px 10px 15px;
  max-height: 100px;
  position: relative;
  box-shadow: 0 0 60px rgba(121,162,248,0.2);
  z-index: 999;
  padding: 30px 40px 10px 40px;
}

.search-bar-input{
  outline: none;
  color: #7aa2f8;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  border: 2px solid #f1f4fe;
}

.search-calendar{
  margin-left: 15px;
  display: inline-block;
}
