body{
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  background-color: white;
}

.white-text{
  color: white;
}

.blue-text{
  color: #7aa2f8;
}

.black-text{
  color: #9ca6b8;
}

.red-text{
  color: red;
}

.text-left{
  width: 100%;
  text-align: left;
}

.text-right{
  width: 100%;
  text-align: right;
}

.input{
  outline: none;
  color: #7aa2f8;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  border: 2px solid #f1f4fe;
}

::-webkit-input-placeholder{ color: #7aa2f8; }
:-moz-placeholder{ color: #7aa2f8; }
::-moz-placeholder{ color: #7aa2f8; }
::-ms-input-placeholder{ color: #7aa2f8; }
