/* header */

.header-image{
  height: 50px;
  width: auto;
}

.separator{
  margin: 0px 8px 0px 8px;
}

.header{
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,100,0.1);
  margin: 0 auto;
  width: 100%;
  display: table;
  padding: 10px 5px 5px 5px;
}

.header-cell{
  display: table-cell;
  vertical-align: middle;
}

.header-links-wrapper{
  width: 60%;
  text-align: center;
  padding: 0 0 0 2px;
}

.header-auth-buttons{
  text-align: right;
}

.header-auth-button{
  padding-bottom: 10px;
}



/* mob */

.header-image-wrapper{
 text-align: center;
}

.header-mob{
  width: 100%;
  display: table;
  max-height: 50px;
  padding: 10px 0 10px 0;
  box-shadow:  0 0 15px rgba(0,0,0,0.2);
}

.header-navbar-button-wrapper{
  text-align: right;
  padding-right: 10px;
}

.header-navbar-button-wrapper-search{
  text-align: left;
}

.header-navbar-button{
  width: 50px;
  height: 50px;
}

.header-links-wrapper-mob{
  transition: all 0.25s ease-out;
  transition: all 0.25s ease-in;
  padding: 25px 15px 25px 15px;
  display: block;
  position: fixed;
  right: -100vw;
  top: 0;
  z-index: 99999999999999999;
  width: 80%;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
}

.mob-el{
  font-size: 25px;
  margin-top:

}
