/* header */

.header-image{
  height: 50px;
  width: auto;
}

.separator{
  margin: 0px 8px 0px 8px;
}

.header{
  margin: 0 auto;
  width: 70%;
  display: table;
  padding: 10px 0 10px 0;
}

.cell{
  display: table-cell;
  vertical-align: middle;
}

.header-links-wrapper{
  padding: 0 0 0 30px;
}
