.card{
  padding: 10px 5px 20px 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 60px rgba(121,162,248,0.2);
}

.card:hover{
  box-shadow: 0 0 60px rgba(121,162,248,0.4);
}

.price-text{
  font-size: 28px;
  font-weight: 900;
}

.secondary{
  font-size: 16px;
}

.card-image{
  width: auto;
  height: 250px;
}

.card-image-wrapper{
  overflow: hidden;
  text-align: center;
  margin: 10px 0 0 10px;
}

.description{
  font-size: 20px;
  padding: 5px 15px 0 15px;
}

.town{
  margin-top: 10px;
  color: #ffa8a8;
}

.price{
  margin-top: 15px;
  margin-bottom: 25px;
}
